*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html{
	font-family: sans-serif;
	color: black;
	height: 100%;
	scroll-behavior: auto;
}

body{
	background-color: green;
}

.container{
	max-width: 1200px;
	margin: auto;
}

.column{
	display: flex;
}

#section-One{
	background-color: #23272f;
	display: flex;
	flex-direction: column;
	height: auto;
	padding-bottom: 200px;
}

header{
	text-align: center;
	padding: 50px 0px;
}

ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
}

li{
	padding: 20px;
}

a{
	text-decoration: none;
	color: #919397;
	font-weight: bold;
}

a:hover{
	color: white;
}

#intro-wrapper{
	padding: 50px 0px;
}

#intro-heading{
	width: 70%;
	font-size: 100px;
	font-family: 'Ibarra Real Nova';
	line-height: 190px;
}

#intro-quote{
	width: 30%;
	text-align: right;
	line-height: 30px;
	color: #777a7f;
	padding-left: 20px;
}

#name-signature{
	font-weight: bold;
	font-size: 20px;
	padding-top: 40px;
}

#name-signature img{
	position: absolute;
	margin-left: -130px;
}

#slide-wrapper{
	display: flex;
	justify-content: center;
	margin-top: -130px;
}