*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
/*    background-image: url(images/cake-shop-logo.png);*/
    font-size: 15px;
    color: black;
    font-family: sans-serif,'Abhaya';
}

/*Unicersal style*/
.container{
    max-width: 1200px;
    margin: auto;
}


/*SECTION-ONE*/
#section-One{
    background-color: #e9effb;
}
header{
    display: flex;
    flex-direction: column;
}
#title-logo{
    text-align: center;
    padding: 20px 0px;
}
nav{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
}
li{
    display: block;
    padding: 20px;
}
li > a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    letter-spacing: 1px;
}
.active{
    color: black;
}
a:hover:not(.active){
    color: black;
}





#intro{
    display: flex;
/*    background-color: blue;*/
/*    z-index: -1;*/
}
#intro > div{
   
}
#intro > div:nth-child(odd){
/*    background-color: indianred;*/
     width: 70%;
}
#intro #text{
    width: 30%;
    text-align: right;
/*    background-color: aqua;*/
    padding-left: 100px;
    line-height: 30px;
}
#intro > div:nth-child(odd) h1{
    font-size: 150px;
}


#slide-wrapper{
/*    background-color: aquamarine;*/
    margin-top: -50px;
    z-index: 1;
    text-align: center;
}