*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html{
    font-size: 16px;
	color: black;
	height: 100%;
}

body{
	background-image: url(images/html-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;	
}

.container{
	max-width: 1120px;
	margin: auto;
}

.column{
	display: flex;
}

/*section-One*/
#section-One{
	background-color: #e9effb;
	display: flex;
	flex-direction: column;
	height: auto;
	padding-bottom: 200px;
}

header{
	text-align: center;
	padding: 30px 0px;
}

ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
}

li{
	padding: 20px;
}

a{
    font-family: sans-serif;
	text-decoration: none;
	color: #919397;
}

.active{
    color: black;
}

a:hover{
	color: black;
}

#intro-wrapper{
	padding: 50px 0px;
}

#intro-heading{
	width: 70%;
	font-size: 100px;
	font-family: inherit;
	line-height: 155px;
    letter-spacing: 5px;
}

#intro-quote{
    font-family: sans-serif;
    font-size: 16px;
	width: 30%;
	text-align: right;
	line-height: 30px;
	color: #777a7f;
	padding-left: 110px;
}

#name-signature{
	font-weight: bold;
	font-size: 20px;
	padding-top: 40px;
}

#name-signature img{
	position: absolute;
	margin-left: -130px;
}

#slide-wrapper{
	display: flex;
	justify-content: center;
	margin-top: -130px;
}

#slide-wrapper img{
    box-shadow: -1px 15px 24px 5px rgba(0,0,0,0.3);
    border-radius: 300px;
}


/*section-Two*/
#section-Two{
	color: black;
	z-index: 1!important;
}

#section-Two-left-image{
	margin-top: -130px;
}

#section-Two .showcase-row{
	margin-top: 40px;
}

#section-Two-center-text{
	text-align: center;
	padding: 0px 230px;
}

#section-Two h1{
	font-size: 90px;
    font-weight: lighter;
	font-family: inherit;
	padding: 30px 0px;
}

#section-Two-center-text span{
	font-size: 20px;
    font-family: sans-serif;
}

#section-Two h2{
	font-size: 40px;
    font-weight: lighter;
	padding: 0px 0px;
    line-height: 70px;
}

#section-Two p{
    font-family: sans-serif;
	font-size: inherit;
    color: #777a7f;
	line-height: 35px;
}

button{
	padding: 15px;
	background-color: white;
    color: black;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 50px 0px;
	width: 160px;
}

button:hover{
    color: grey;
}

/*section-Three*/
#section-Three{
  	background-color: #e9effb;
	padding-top: 520px;
	margin-top: -450px;
    box-shadow: 0px -6px 25px 5px rgba(0,0,0,0.13);
	z-index: -5;
}

.showcase-row{
    text-align: center;
    display: flex;
	justify-content: space-between;
}

.showcase-row > div{
	width: 32.3%;
}

.showcase-wrapper span{
	color: red;
	font-size: 30px;
	font-family: sans-serif;
	padding-top: 25px;
	display: block;
}

.showcase-wrapper h2{
	padding: 18px 0px;
	font-size: 40px;
    font-weight: lighter;
	font-family: inherit;
}

.showcase-wrapper p{
	font-family: sans-serif;
	font-size: inherit;
	padding: 0px 30px;
	color: #777a7f;
	line-height: 30px;
}